//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	background: #FFCC3F;
	&__container {
	}

	&__nav {
		display: flex;
		@include adaptiveValue("font-size", 20, 25);
		line-height: math.div(27 , 20);
		align-items: center;
		text-align: center;
		justify-content: space-between;
		min-height: 100px;
		@media (min-width:$mobile) and (max-width:$tablet){
			@include adaptiveValue("font-size", 20, 16);
		}
	}

	&__menulogo{
		display: flex;
		align-items: center;
		position: relative;
	}
	&__menu{
		z-index: 2;
		@media (max-width:$mobile){
			position: absolute;
		}
		
	}
	&__menucart{
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	&__menulang{
		z-index: 5;
		animation-name: spin;
	}
	&__cart {
		z-index: 5;
		font-size: rem(30);
		position: relative;
		@include adaptiveValue("margin-right", 15, 5);
		span{
			position: absolute;
			width: 18px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: -6px;
			right: -6px;
			border-radius: 50%;
			color: #FFFFFF;
			font-size: rem(12);
			background-color: #FF1700;
		}
		transition: color 0.3s 0s;
		&:hover{
			color: #FFFFFF;
		}
	}

	&__listlanguages {
		font-weight: 600;
		@media (max-width:$mobile){
			 font-size: 20px;
		}
	}

	&__itemLanguages {
	}

	&__linkLanguages {
		text-transform: uppercase;
	}
}
.header-nav-column {

	&__logo {
		margin-right: 10px;
		height: 30px;
		width: 30px;
		z-index: 5;
	}

	&__logoText {
		text-transform: uppercase;
		font-weight: 700;
		cursor: default;
		z-index: 5;
	}
}
.menu {
	&__body {
		@media (max-width:$mobile){
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			right: -100%;
			transition: right 0.3s ease 0s;
			background-color: #ffcc3ffa;
			padding: 100px 15px 30px 15px;
			&::before{
				content:'';
				position: fixed;
				width: 100%;
				height: 100px;
				top: 0;
				right: -100%;
				transition: right 0.3s ease 0s;
				background-color: #FFCC3F;
				z-index: 2;
			}
			.menu-open &{
				right: 0;
				&::before{
					right: 0;
				}
			}
		}
	}

	&__list {
		@media (min-width:$mobile){
			display: flex;
			flex-wrap: wrap;
			margin: 0px 10px; 
		}
	}

	&__item {
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 20, 40); 
			 &:not(:last-child) {
				margin-bottom: 10px;
			 }
		}
		white-space: nowrap;
		@media (min-width:$mobile){
			&:not(:last-child){
				@include adaptiveValue("margin-right", 30, 15);
			}
		}
	}

	&__link {
		font-weight: 600;
		transition: color 0.3s 0s;
		&:hover{
			color: #FFFFFF;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
@keyframes spin {
	from {
		transform: translateY(0em);
	}
	to {
		transform: translateY(-10em);
	}
}
//Burger
/*

*/
//====================================================================================================

.header {

	&__order {
		//display: none;

		
	}
}
.order {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: -100%;
	transition: left 0.3s ease 0s;
	background-color: #fffffffa;
	padding-top: 100px;
	padding-bottom: 10px;
	&::before{
		content:'';
		position: fixed;
		width: 100%;
		height: 100px;
		top: 0;
		left: -100%;
		transition: left 0.3s ease 0s;
		background-color: #FFCC3F;
		z-index: 2;
		}
	.cart-open &{
		left: 0;
		&::before{
			left: 0;
		}
	}
	&__label {
		margin-bottom: rem(20);
	}

	&__content {
		display: flex;
		gap: rem(30);
		@media (max-width:$mobile){
			flex-direction: column; 
		}
	}
}
.label {
}
.content-order {

	&__box {
		flex: 0 1 50%;
	}

	&__form {
		flex: 0 1 50%;
	}
}
.box {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	&__table {
		display: flex;
		flex-direction: column;
	}

	&__finalPrice {
		align-self: end;
	}

	&__link {
		align-self: end;
		padding: rem(10) rem(20);
		border: 1px solid #FFC600;
		border-radius: 50px;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #FFC600;
			color: #fff;
		}
	}
}
.table {

	&__item {
		display: grid;
		align-items: center;
	}
}
.item-table {
	grid-template-columns: repeat(5, 1fr);
	&:not(:last-child) {
		margin-bottom: rem(10);	
	}
	&_static {
		grid-template-columns: 3fr 1fr 1fr;
	}

	&__label {

	}

	&__close {
	}

	&__burger {
		margin-right: rem(10);
	}

	&__image {
		position: relative;
        padding-bottom: percent(60, 64);
		img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}

	&__name {

	}

	&__quantity {

	}

	&__price {

	}
}
.btn {
}
.form {

	&__body {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 15px;
		
	}

	&__item {
		display: flex;
		flex-direction: column;
		&_alignStart{
			align-items: start;
			text-align: start;
		}
	}

	&__input {
		border-radius: 50px;
		border: 2px solid #FFC600;
		color: #5F5F5F;
		width: 100%;
		padding: rem(5) rem(15) rem(5) rem(15);
	}

	&__adress {
		display: flex;
		flex-direction: column;
		gap: 10px 0;
	}

	&__house {
		display: flex;
		.form__input{
			&:not(:last-child) {
				margin-right: rem(10);	
			}
		}
		.form__input{
			@media (min-width:$mobile){
				  padding-right: 2px;
			}
			@media (max-width:$mobile){
				 font-size: rem(20);
			}
		}
	}

	&__title {
		margin-bottom: rem(10);
		@include adaptiveValue("font-size", 36, 40);
    	line-height: math.div(42 , 36);
	}

	&__button {
		padding: rem(10) rem(80);
		align-self: start;

		
	}
}
textarea.form__input{
	resize: vertical;
}
.select {
	&__body{
		border-radius: 50px;
	}
	
}
.options {

	&__item {
	}

	&__input {
		display: none;
		&:checked + .options__label::after{
			transform: scale(1);
		}
	}

	&__label {
		display: inline-flex;	
		position: relative;
		width: 100%;
		cursor: pointer;
		&::before{
			content:'';
			flex: 0 0 24px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid #FFC600;
			align-self: flex-start;
			margin-right: rem(10);
		}
		&::after{
			content:'';
			transition: transform 0.3s ease 0s;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 16px;
			height: 16px;
			background-color: #FFC600;
			border-radius: 50%;
			transform: scale(0);
		}
	}
}
