//====================================================================================================
.page {
    position: relative;
    &__main {
    }
    &__menu {
        
    }
    &__response {
    }
}
//====================================================================================================
.main-page {
    background-color: #FFD956;
    @include adaptiveValue("padding-top", 135, 105);
    @include adaptiveValue("padding-bottom", 46, 30);
    &__container {
        min-height: 100%;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &__content{
    }
    &__label {
        max-width: 630px;
        @include adaptiveValue("font-size", 48, 38);
        line-height: math.div(65 , 48);
        span{
            color: #DE5F01;
        }
    }

    &__middleContent{
        display: flex;
    }
    &__list {
        flex: 0 1 50%;
        align-content: flex-end;
        @include adaptiveValue("margin-top", 40, 15);
        @include adaptiveValue("margin-bottom", 45, 20);
        @include adaptiveValue("font-size", 30, 18);
        line-height: math.div(41 , 30);
    }
    &__decor{
        flex: 0 1 50%;
    }
    &__image{
        position: relative;
        padding-bottom: percent(389, 608);
        // margin-right: -135px;
	    // max-width: 672px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    &__item {
        position: relative;
        padding: 0px 0px 0px rem(20);
        &:not(:last-child) {
            margin-bottom: rem(10);   
        }
        &::before{
            content:'';
            position: absolute;
            left: 0;
            top: em(15, 30);
            border-radius: 50%;
            background-color: #000000;
            height: rem(8);
            width: rem(8);
        }
    }

    &__button {
    }
}
//====================================================================================================
.menu-page {
    @include adaptiveValue("padding-top", 74, 10);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__label {
        @include adaptiveValue("margin-bottom", 44, 20);
        
    }

    &__tabs {
        
    }
}
.tabs-menu {

    &__navigation {
        @include adaptiveValue("margin-bottom", 60, 20);
    }

    &__title {
        
    }

    &__content {
    }

    &__body {
    }
    &__grid{}
}
.body-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("gap", 35, 10);
    @media (max-width:$tablet){
        grid-template-columns: repeat(2, 1fr);
    }
    &__cell{
        border: 5px solid #FFCC3F;
        border-radius: 50px;
        padding: 33px 24px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }
}

.cell-items {

    &__cell {
       
    }

    &__label{
        @include adaptiveValue("font-size", 30, 20);
        line-height: math.div(41 , 30);
        letter-spacing: 0.05em;
        position: relative;
        margin-bottom: 10px;
        &::before{
            content:'';
            width: 100%;
            height: 2px;
            background-color: #FFCC3F;
            position: absolute;
            bottom: -2px;
            left: 0;
        }
    }
    
    &__image-ibg {
        //padding-bottom: percent(199,340);
        padding-bottom: percent(159, 157);
        @include adaptiveValue("margin-top", 26, 10);
    &_burger-img{
            padding-bottom: percent(199,340);
        }
    }

    &__compos {
        @include adaptiveValue("margin-top", 26, 10);
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(27 , 20);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 400;
        flex: 1 1 auto;
    }

    &__price {
        font-size: rem(20);
        line-height: math.div(27 , 20);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #717171;
        margin-top: 16px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__order {
    }

    &__link {
        padding: 7px 18px 9px;
    }
}


//====================================================================================================
.response-page {
    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-bottom", 50, 20);
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__label {
        @include adaptiveValue("margin-bottom", 30, 10);
    }

    &__slider {
        margin: 0px 0px 20px 0px;
    }
    &__wrapper {
    }

    &__slide {
        padding: 20px 20px;
        background: linear-gradient(115.44deg, #FFFBEF -3.41%, #FEF3CC 97.93%);
        opacity: 0.6;
        border-radius: 50px;
    }
    &__box{
        display: flex;
        flex-direction: column;
    }
    &__text {
        margin-bottom: 10px;
        flex: 1 1 auto;
    }

    &__userName {
        font-weight: 700;
    }

    &__button {
        align-self: center;
    }
}



//====================================================================================================

